.additional-product {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-resolution) {
    grid-template-columns: min-content min-content;
  }
}

.additional-product__headline {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $alt-font_color;
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-product__item {
  @media (min-width: $tablet-resolution) {
    display: grid;
    grid-template-columns: min-content min-content;
  }

  @media (min-width: $desktop-resolution) {
    grid-template-columns: min-content min-content min-content;
  }
}

.additional-product .button {
  @media (min-width: $tablet-resolution) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-resolution) {
    grid-column: 3/4;
  }
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $alt-font_color;
  text-transform: uppercase;
}

.additional-product__desc {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.additional-product .aside {
  @media (min-width: $desktop-resolution) {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
