.address {
  background-color: #ffffff;
}

.address .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (min-width: $tablet-resolution) {
    width: 625px;
  }

  @media (min-width: $desktop-resolution) {
    width: 100%;
  }
}

.address--bg-transparent {
  background-color: transparent;
}

.address__tittle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $alt-font_color;
  text-transform: uppercase;

  @media (min-width: $tablet-resolution) {
    width: 163px;
  }
}

.address__text {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: $tablet-resolution) {
    width: 155px;
  }
}
