.address {
  background-color: #ffffff;
  padding-top: 28px;
  padding-bottom: 25px;
}

.address--catalog {
  background-color: $catalog_button-color;
}

.address .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (min-width: $tablet-resolution) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-resolution) {
    width: 100%;
  }
}

.address--bg-transparent {
  background-color: transparent;
}


.address__tittle {
  margin: 0;
  padding: 0;
  min-width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $alt-font_color;
  text-transform: uppercase;

  @media (min-width: $tablet-resolution) {
    width: 163px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 39px;
    margin-left: 40px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-resolution) {
    margin-left: 76px;
    margin-top: 34px;
  }
}

.address__text {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: $tablet-resolution) {
    width: 155px;
    font-size: 16px;
    text-align: end;
    margin-right: 42px;
    margin-top: 3px;
  }

  @media (min-width: $desktop-resolution) {
    text-align: start;
    margin-right: 89px;
  }
}

.address__text span {
  @media (min-width: $tablet-resolution) {
    display: block;
    margin-top: 21px;
  }
}
