.alt-main-logo {
  margin-top: 39px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-resolution) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-resolution) {
    margin-top: 27px;
  }
}
