.body-page {
  font-family: $main-font, $alt-font, $safe-font;
  color: $main-font_color;
  height: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-resolution) {
    background: linear-gradient(to right, #68b738 100%, #68b738 0%);
    background-image: url("../img/greencat-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 1044px 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greencat-bg-desktop@2x.png");
    }
    background-position-x: 720px;
    background-position-y: -2px;
  }

  @media (min-width: 1441px) {
    background-size: 50%;
    background-position-x: right;
  }
}

.body-page--inner {
  background-image: none;

  @media (min-width: $desktop-resolution) {
    background: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
