.body-page {
  font-family: $main-font, $alt-font, $safe-font;
  color: $main-font_color;
  height: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-resolution) {
    background: linear-gradient(to bottom, #68b738 98%, #ffffff 0%);
    background-image: url("../img/greencat-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 1044px 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greencat-bg-desktop@2x.png");
    }
    background-position-x: 720px;
    background-position-y: -2px;
  }

  @media (min-width: 1441px) {
    background: linear-gradient(to bottom, #68b738 25%, #ffffff 0%);
    background-image: url("../img/greencat-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greencat-bg-desktop@2x.png");
    }
  }
}

.body-page--inner {
  background-image: none;

  @media (min-width: $desktop-resolution) {
    background: none;
  }
}
