.button {
  color: $font-button_color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $main_button-color;
  border: none;
  text-align: center;

  &:hover {
    background-color: $main_button-hover_active;
  }

  &:focus {
    background-color: $main_button-hover_active;
  }

  &:active {
    background-color: $main_button-hover_active;
    color: rgba(100%, 100%, 100%, 0.3);
  }
}
