.cars_headline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $alt-font_color;
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media (min-width: $tablet-resolution) {
    min-width: 324px;
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content min-content;
  }

  @media (min-width: $desktop-resolution) {
    min-width: 245px;
  }
}

.cards__item:nth-child(even) {
  @media (min-width: $tablet-resolution) and (max-width: $desktop-resolution) {
    margin-right: 0;
  }
}

.cards__item:nth-child(4n) {
  @media (min-width: $desktop-resolution) {
    margin-right: 0;
  }
}

.cards__item:last-child {
  display: flex;
  flex-direction: column;
}

.cards__img {
  grid-column: 1/2;
  grid-row: 1/4;

  @media (min-width: $tablet-resolution) {
    grid-row: 1/2;
  }
}


.cards__title h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $alt-font_color;
  text-transform: uppercase;
}

.cards__item a {
  text-decoration: none;
}

.cards__desc {
  margin: 0;
  padding: 0;
  font-family: $alt-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards__desc dt {
  margin: 0;
  padding: 0;
}

.cards__desc dd {
  margin: 0;
  padding: 0;
}

.cards__item .button {
  grid-column: 1/3;

  @media (min-width: $tablet-resolution) {
    grid-column: 1/2;
  }
}

.cards__text {
  font-family: $alt-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.cards__last-button {
  background-color: $main-background;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  color: $main-font_color;
  text-transform: uppercase;
  text-decoration: none;
}
