:root {
  --main-background: #f2f2f2;
  --additional-background: #eaeaea;
  --pad-forbgimage: rgba(104, 183, 56, 0.85);
  --main-font: #000000;
  --alt-font: #444444;
  --additional-font: #111111;
  --mainbutton-color: #68b738;
  --mainbutton-hoveractive: #5eaa2f;
  --catalogbutton-color: #f2f2f2;
  --catalogbutton-hoveractive: #ebebeb;
  --input-border: #e7e7e7;
  --input-borderfocus: #444444;
  --iconsinput-colors: #222222;
  --iconssocial-colors: #666666;
  --icons-focushover: #68b738;
  --icons-invalid: #ff8282;
  --input-invalid: #ff8282;
  --radio-border: #cdcdcd;
  --radio-borderhover: #bababa;
  --radio-checked: #68b738;
}
