.example {
  background-color: $additional-background;
}

.example__tittle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $alt-font_color;
}

.example__text {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.example__list {
  margin: 0;
  padding: 0;
}

.example__item {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $alt-font_color;
}

.example__definition {
  font-family: $alt-font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.example__illustration {
  margin: 0;
  padding: 0;
}

.example__illustration figcaption {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $alt-font_color;
}

.example__fat-cat {
  width: 311px;
  height: 232px;
}

.example__skinny-cat {
  width: 251px;
  height: 240px;
}

.example__button {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
