.example {
  background-color: $additional-background;
  margin-top: 42px;

  @media (min-width: $tablet-resolution) {
    margin-top: 72px;
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(to bottom, #ffffff 57.4%, $additional-background 0%);
  }

  @media (min-width: $desktop-resolution) {
    --color-divide: 27.4%;
    border: none;
    background: linear-gradient(to left, $additional-background  var(--color-divide), $main-background 0%);
    background-size: 100% 76.5%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    margin-bottom: -45px;
  }
}

.example__special-background--transparent {
  background-color: transparent;
}

.example--wrapper {
  display: grid;

  @media (min-width: $desktop-width) {
    position: relative;
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.example__tittle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $alt-font_color;
  grid-column: 1/3;
  margin: 0;
  margin-top: 27px;

  @media (min-width: $tablet-resolution) {
    margin-top: 41px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-resolution) {
    grid-row: 1/2;
    margin-top: 22px;
  }
}

.example__text {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  grid-column: 1/3;
  display: block;
  margin-top: 33px;

  @media (min-width: $tablet-resolution) {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
  }

  @media (min-width: $desktop-resolution) {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 61px;
    width: 431px;
    margin-bottom: 0;
  }
}

.example__text br {
  display: none;

  @media (min-width: $tablet-resolution) {
    display: inline;
  }

  @media (min-width: $desktop-resolution) {
    display: none;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-resolution) {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 366px;
    margin-top: 37px;
  }

  @media (min-width: $desktop-resolution) {
    grid-row: 3/4;
    margin-top: 59px;
    margin-bottom: 34px;
  }
}

.example__item {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 14px 20px 0 22px;
  color: #000000;
  text-align: center;
  min-width: 80px;
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-resolution) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 14px 11px 18px;
    margin-top: 0;
  }
}

.example__item:first-child {
  @media (min-width: $tablet-resolution) {
    margin-right: 42px;
    min-width: 127px;
  }
}


.example__definition {
  font-family: $alt-font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: -16px;
  display: block;
  background-color: $additional-background;

  @media (min-width: $tablet-resolution) {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-resolution) {
    background-color: $catalog_button-color;
  }
}

.example__definition br {
  @media (min-width: $tablet-resolution) {
    display: none;
  }
}

.example__image-container-fat-cat {
  margin-top: 24px;
  overflow: hidden;

  @media (min-width: $tablet-resolution) {
    margin-left: 2px;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: 50%;
  }

  @media (min-width: $desktop-resolution) {
    margin-top: 0;
  }
}

.example__illustration {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  position: relative;
  display: grid;

  @media (min-width: $tablet-resolution) {
    grid-row: 4/5;
    grid-column: 1/3;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    margin-top: 24px;
  }

  @media (min-width: $desktop-resolution) {
    grid-row: 1/5;
    grid-column: 2/3;
    margin-top: -53px;
    margin-left: 139px;
    width: 742px;
  }
}

.example__illustration-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  grid-column: 1/3;
  margin: 0;
  display: block;
  text-align: center;
  margin-top: 34px;

  @media (min-width: $tablet-resolution) {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
    margin-top: 48px;
  }

  @media (min-width: $desktop-resolution) {
    grid-row: 4/5;
    grid-column: 1/2;
    margin-top: 23px;
    text-align: start;
  }
}

.example__illustration-title br {
  display: none;

  @media (min-width: $tablet-resolution) {
    display: inline;
  }

  @media (min-width: $desktop-resolution) {
    display: none;
  }
}

.example__illustration-title span {
  @media (min-width: $tablet-resolution) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: $desktop-resolution) {
    display: inline;
    margin-top: 0;
    margin-left: 58px;
  }
}

.example__fat-cat {
  width: 311px;
  height: 232px;
  margin-left: -18px;

  @media (min-width: $tablet-resolution) {
    width: auto;
    height: 522px;
    margin-left: 49px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-resolution) {
    height: 504px;
    width: auto;
    margin-left: 0;
  }
}


.example__image-container-skinny-cat {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-resolution) {
    width: 50%;
  }

  @media (min-width: $desktop-resolution) {
    margin-right: 5px;
  }
}

.example__skinny-cat {
  width: 251px;
  height: 240px;
  margin-top: 13px;
  margin-right: -21px;
  position: absolute;
  right: 0;

  @media (min-width: $tablet-resolution) {
    width: auto;
    height: 518px;
    margin-top: 60px;
    margin-right: 94px;
  }

  @media (min-width: $desktop-resolution) {
    height: 518px;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 157px;
  }
}


.example__controls {
  display: flex;
  margin-top: 23px;
  margin-bottom: 31px;

  @media (min-width: $tablet-resolution) {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    margin-top: 7px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-resolution) {
    margin-top: 28px;
    margin-left: -10px;
    margin-bottom: 116px;
  }
}

.exampe__controls label {
  margin: 0;
}

.example__button {
  padding: 4px 10px 6px 11px;
  font-family: $main-font;
  margin-left: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-resolution) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 1px dotted $radio-border;
    position: relative;
    z-index: 1;

    &:hover {
      border-bottom: 1px solid rgba(0%, 0%, 0%, 0.4);
    }

    &:focus {
      border-bottom: 1px solid rgba(0%, 0%, 0%, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.example__button--before {
  margin-left: 34px;

  @media (min-width: $tablet-resolution) {
    margin: 0;
    margin-top: -5px;
  }
}

.example__button--after {
  @media (min-width: $tablet-resolution) {
    margin: 0;
    margin-top: -5px;
  }
}

.example__range {
  margin: 0;
  margin-top: 7px;
  margin-left: 7px;
  appearance: none;
  width: 84px;
  height: 14px;
  padding-left: 6px;
  padding-right: 6px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  transform: rotate(180deg);

  @media (min-width: $tablet-resolution) {
    transform: rotate(0deg);
    border: none;
    width: 428px;
    height: 6px;
    background-color: $radio-border;
    margin: 0;
    margin-left: 23px;
    margin-right: 22px;
  }
}

.example__range::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;

  @media (min-width: $tablet-resolution) {
    width: 34px;
    height: 34px;
    border: 13px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:focus {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      box-shadow: 0 0 0 1px $icons-focus_hover;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}


.example__range::-moz-range-thumb {
  appearance: none;
  border: none;
  outline: none;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;

  @media (min-width: $tablet-resolution) {
    width: 8px;
    height: 8px;
    border: 13px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:focus {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      box-shadow: 0 0 0 1px $icons-focus_hover;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}
