.header-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-resolution) {
    width: $tablet-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  @media (min-width: $desktop-resolution) {
    grid-template-columns: 1fr 1fr;
    width: $desktop-width;
  }
}

.header-grid .header-grid--wrapper {
  @media (min-width: $tablet-resolution) {
    width: auto;
    margin: 0;
  }
}
