.header-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-resolution) {
    width: $tablet-width;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: start;
    column-gap: 95px;
  }

  @media (min-width: $desktop-resolution) {
    width: $desktop-width;
    justify-content: space-between;
  }
}

.header-grid .wrapper {
  @media (min-width: $tablet-resolution) {
    width: auto;
    margin: 0;
  }
}
