.logo {
  padding-top: 12px;
  display: flex;
  padding-bottom: 10px;

  @media (min-width: $tablet-resolution) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-resolution) {
    padding-top: 53px;
  }
}

.logo__img {
  margin-right: 56px;

  @media (min-width: $tablet-resolution) {
    width: 60px;
    height: 49px;
    margin-right: 11px;
  }

  @media (min-width: $desktop-resolution) {
    width: 71px;
    height: 60px;
  }
}

.logo__text {
  display: block;
  padding-top: 12px;

  @media (min-width: $tablet-resolution) {
    padding-top: 17px;
    width: 102px;
    height: 19px;
  }

  @media (min-width: $desktop-resolution) {
    width: 128px;
    padding-top: 22px;
    height: 22px;
    margin-left: -2px;
  }
}
