.map {
  display: grid;
}

.map__iframe {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;

  @media (min-width: $tablet-resolution) {
    min-height: 400px;
  }
}

.map__container {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0 auto;
}

.map__static-map {
  @media (min-width: $tablet-resolution) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-resolution) {
    width: 1440px;
  }
}
