.methodology_headline {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $alt-font_color;
}

.methodology__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-resolution) {
    justify-content: space-between;
  }
}

.methodology__item {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 200px;

  @media (min-width: $tablet-resolution) {
    width: 340px;
  }

  @media (min-width: $desktop-resolution) {
    width: 213px;
  }
}
