.methodology_headline {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $alt-font_color;
}

.methodology__list {
  list-style: none;
}

.methodology__item {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
