.producer-logo {
  font-family: $alt-font;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  &:hover svg {
    fill: $main_button-color;
  }

  &:focus svg {
    fill: $main_button-color;
  }

  &:active svg {
    fill: $main_button-color;
    opacity: 0.3;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-resolution) {
    min-width: 163px;
    margin: 0;
    margin-top: 19px;
    margin-left: 125px;
  }

  @media (min-width: $desktop-resolution) {
    justify-content: flex-end;
    margin-top: 25px;
    column-gap: 22px;
  }
}


.producer-logo svg {
  margin-top: -7px;
  width: 27px;
  height: 34px;
  fill: $icons_social-colors;
}
