.producer-logo {
  font-family: $alt-font;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-resolution) {
    min-width: 163px;
    margin: 0;
    margin-top: 19px;
    margin-left: 125px;
  }

  @media (min-width: $desktop-resolution) {
    justify-content: flex-end;
    margin-top: 25px;
    column-gap: 22px;
  }
}

.producer-logo svg {
  margin-top: -7px;
}
