.producer-logo {
  font-family: $alt-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $main-font_color;
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-resolution) {
    width: 163px;
    margin: 0;
  }
}
