.promo {
  background: center/320px url("../img/greencat-bg.png"), linear-gradient(to top, transparent 37%, #62a637 37%);
  background-position-y: top;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background: no-repeat center/320px url("../img/greencat-bg@2x.png"), linear-gradient(to top, transparent 37%, #62a637 37%);
    background-position-y: top;
  }

  @media (min-width: $tablet-resolution) {
    background-image: none;
  }

  @media (min-width: $desktop-resolution) {
    background-image: none;
  }
}

.promo .wrapper {
  min-height: 480px;
  display: grid;

  @media (min-width: $desktop-resolution) {
    grid-template-columns: 1fr 1fr;
  }
}

.promo__tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
  margin-top: 27px;

  @media (min-width: $tablet-resolution) {
    font-size: 60px;
    line-height: 60px;
    color: $alt-font_color;
    text-align: start;
    margin-left: 87px;
    margin-top: 51px;
  }

  @media (min-width: $desktop-resolution) {
    margin-left: 80px;
    margin-top: 96px;
  }
}

.promo__tagline br {
  display: none;

  @media (min-width: $tablet-resolution) {
    display: inline;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  text-align: center;

  @media (min-width: $tablet-resolution) {
    font-size: 20px;
    line-height: 20px;
    color: $alt-font_color;
    text-align: start;
    margin-top: 42px;
    margin-left: 87px;
  }

  @media (min-width: $desktop-resolution) {
    margin-left: 80px;
    margin-top: 39px;
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.promo__img-position {
  @media (min-width: $desktop-resolution) {
    grid-row: 3/4;
    grid-column: 2/3;
    position: relative;
  }
}

.promo__img-product {
  margin-top: 28px;
  width: 280px;

  @media (min-width: $tablet-resolution) {
    width: 708px;
    height: auto;
    margin-top: -271px;
  }

  @media (min-width: $desktop-resolution) {
    width: 552px;
    height: auto;
    position: absolute;
    margin-top: -262px;
    margin-left: -162px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 10px 9px 10px;

  @media (min-width: $tablet-resolution) {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
    margin-top: 50px;
    margin-left: 88px;
    margin-right: 374px;
    margin-bottom: 191px;
    padding: 17px 26px 14px 26px;
  }

  @media (min-width: $desktop-resolution) {
    margin-top: 52px;
    margin-left: 80px;
    margin-right: 286px;
    margin-bottom: 190px;
    padding: 17px 26px 17px 26px;
  }
}
