.services {
  display: flex;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 22px;

  @media (min-width: $tablet-resolution) {
    margin-top: -4px;
  }

  @media (min-width: $desktop-resolution) {
    justify-content: space-between;
    margin-top: 76px;
  }
}

.services__item {
  background-color: $main-background;
  padding: 30px 33px 18px 19px;

  @media (min-width: $tablet-resolution) {
    width: 708px;
  }

  @media (min-width: $desktop-resolution) {
    width: 518px;
  }
}

.services__item:first-child {
  margin-bottom: 20px;

  @media (min-width: $tablet-resolution) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-resolution) {
    margin-bottom: 0;
  }
}

.services__item:first-child .services__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  margin-left: -68px;
  margin-top: -6px;
  border-radius: 50%;
  background-color: $main_button-color;

  @media (min-width: $tablet-resolution) {
    width: 200px;
    height: 200px;
    margin-left: 393px;
    margin-top: 15px;
  }

  @media (min-width: $desktop-resolution) {
    width: 100px;
    height: 100px;
    margin-left: -162px;
    margin-top: -29px;
  }
}

.services__item:first-child .services__title::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  top: 0;
  left: 0;
  margin-left: -61px;
  margin-top: -9px;
  background-image: url("../img/icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-resolution) {
    width: 140px;
    height: 194px;
    margin-left: 422px;
    margin-top: 4px;
    background-size: 140px 194px;
  }

  @media (min-width: $desktop-resolution) {
    width: 140px;
    height: 194px;
    margin-left: -182px;
    margin-top: -84px;
    background-size: 70px 97px;
  }
}

.services__item:nth-child(2) .services__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  margin-left: -68px;
  margin-top: -6px;
  border-radius: 50%;
  background-color: $main_button-color;

  @media (min-width: $tablet-resolution) {
    width: 200px;
    height: 200px;
    margin-left: 396px;
    margin-top: 13px;
  }

  @media (min-width: $desktop-resolution) {
    width: 100px;
    height: 100px;
    margin-left: -162px;
    margin-top: -29px;
  }
}

.services__item:nth-child(2) .services__title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  top: 0;
  left: 0;
  margin-left: -78px;
  margin-top: 6px;
  background-image: url("../img/icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-resolution) {
    width: 268px;
    height: 112px;
    margin-left: 359px;
    margin-top: 56px;
    background-size: 268px 112px;
  }

  @media (min-width: $desktop-resolution) {
    width: 140px;
    height: 194px;
    margin-left: -184px;
    margin-top: -78px;
    background-size: 134px 56px;
  }
}

.services__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $alt-font_color;
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 71px;

  @media (min-width: $tablet-resolution) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 34px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-resolution) {
    margin-left: 195px;
  }
}

.services__text {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 29px;

  @media (min-width: $tablet-resolution) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-top: 25px;
    margin-left: 32px;
  }

  @media (min-width: $desktop-resolution) {
    width: 462px;
    margin-top: 75px;
  }
}

.services__button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $alt-font_color;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-top: 45px;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-resolution) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 51px;
    margin-left: 32px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-resolution) {
    margin-top: 26px;
  }
}

.services__button:hover::after {
  background-image: url("../img/icons/arrow-long.svg");
  width: 32px;
}

.services__button:focus::after {
  background-image: url("../img/icons/arrow-long.svg");
  width: 32px;
}

.services__button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  margin-left: 17px;
  margin-top: -2px;
  background-image: url("../img/icons/arrow-short.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-resolution) {
    margin-top: 8px;
    margin-left: 27px;
  }
}
