.services {
  display: flex;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $desktop-resolution) {
    justify-content: space-between;
  }
}

.services__item {
  background-color: $main-background;

  @media (min-width: $tablet-resolution) {
    width: 708px;
  }

  @media (min-width: $desktop-resolution) {
    width: 570px;
  }
}

.services__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $alt-font_color;
}

.services__text {
  font-family: $alt-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.services__button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $alt-font_color;
  text-transform: uppercase;
  text-decoration: none;
}
