.social-list {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 22px;
  padding-top: 21px;
  padding-bottom: 13px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-resolution) {
    border: none;
    margin-top: 40px;
    column-gap: 35px;
    margin-left: 158px;
  }

  @media (min-width: $desktop-resolution) {
    margin-top: 39px;
    margin-left: 320px;
  }
}

.social-list__item:last-child svg {
  stroke: $icons_social-colors;
}

.social-list__item--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.social-list__item svg {
  &:hover {
    stroke: $main_button-color;
  }

  &:focus {
    stroke: $main_button-color;
  }

  &:active {
    stroke: $main_button-color;
    opacity: 0.3;
  }
}

.social-list__item:first-child svg {
  @media (min-width: $tablet-resolution) {
    width: 30px;
    height: 22px;
    margin-left: -6px;
  }
}

.social-list__item:nth-child(2) svg {
  @media (min-width: $tablet-resolution) {
    width: 23px;
    height: 23px;
    margin-left: -5px;
  }
}


.social-list__item:nth-child(3) svg {
  @media (min-width: $tablet-resolution) {
    width: 31px;
    height: 35px;
    margin-left: -15px;
    margin-top: -8px;
  }
}

.social-list__item:nth-child(2) {
  margin-left: 36px;
  margin-right: 33px;

  @media (min-width: $tablet-resolution) {
    margin: 0;
  }
}
