.title {
  background-image: url("../img/greencat-bg.png");
  background-repeat: no-repeat;
}

.title__tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.title__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
