.title {
  background-image: url("../img/greencat-bg.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-resolution) {
    background-image: none;
  }

  @media (min-width: $desktop-resolution) {
    background-image: url("../img/greencat-bg.png");
    background-repeat: no-repeat;
  }
}

.title .wrapper {
  min-height: 480px;
  display: grid;
  grid-column: min-content;
}

.title__tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: $tablet-resolution) {
    color: $alt-font_color;
  }
}

.title__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-resolution) {
    color: $alt-font_color;
  }
}

.title__img-product {
  @media (min-width: $tablet-resolution) {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-resolution) {
    grid-row: 1/-1;
    grid-column: 2/3;
  }
}

.title__button {
  width: 280px;
  height: 40px;

  @media (min-width: $tablet-resolution) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
