$main-background: #f2f2f2;
$additional-background: #eaeaea;
$pad-for_bg_image: rgba(104, 183, 56, 0.85);
$main-font_color: #444444;
$alt-font_color: #000000;
$additional-font: #111111;
$font-button_color: #ffffff;
$font-color_radio: #222222;
$main_button-color: #68b738;
$main_button-hover_active: #5eaa2f;
$catalog_button-color: #f2f2f2;
$catalog_button-hoveractive: #ebebeb;
$input-border: #e7e7e7;
$input-border_focus: #444444;
$icons_input-colors: #222222;
$icons_social-colors: #666666;
$icons-focus_hover: #68b738;
$icons-invalid: #ff8282;
$input-invalid: #ff8282;
$radio-border: #cdcdcd;
$radio-border_hover: #bababa;
$radio-checked: #68b738;
$main-font:"Oswald";
$alt-font: "Arial";
$mobile-width: 280px;
$tablet-width: 708px;
$desktop-width: 1220px;
$tablet-resolution: 768px;
$desktop-resolution: 1440px;
